.order{
    padding: 40px;
    margin: 20px 0;
    border: 1px solid #b9d4de;
    background-color: #f5f8f8;
position: relative;
}
.order_id{
    position: absolute;
    top: 40px;
    right: 20px;
}
.order_total{
    font-weight: 500;
    text-align: right;
}